@font-face {
  font-family: bit_by_bit;
  font-weight: 400;
  font-weight: normal;
  src: url("./src/assets/fonts/bitbybit/bitbybit.ttf");
}

@font-face {
  font-family: origami;
  font-weight: 400;
  font-weight: normal;
  src: url("./src/assets/fonts/origami.ttf");
}

@font-face {
  font-family: bulkypix;
  font-weight: 400;
  font-weight: normal;
  src: url("./src/assets/fonts/bulkypix.ttf");
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background: #ffffff;
}